src/miniCore/target/*
src/Core/target/*
src/desktop/target/*
*.csv
build/vers/*
build/src/release/*.jar
build/src/release/*.exe
src/desktop/*.csv
MySQL/r/*-bk.sql
MySQL/r/*.bak
build/vers/md5sums
MySQL/a/data-delta-2.sql
MySQL/a/data-delta-3.sql
MySQL/a/data-delta.sql
MySQL/br/data-delta-2.sql
MySQL/br/data-delta-3.sql
MySQL/br/data-delta.sql
MySQL/r/data-delta-2.sql
MySQL/r/data-delta-3.sql
MySQL/r/data-delta.sql
patch.sql
